@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');


/* Classes de estilizações gerais do site */
*{
  font-family: 'Montserrat',sans-serif;
}
/* Fim das classes de estilizações gerais do site*/

/* Classes de estilização do cabeçalho do site */
.borda-cabecalho{
  border-bottom-color: #99ff978f;
  border-bottom-style: solid;
  border-bottom-width: 10px;
  height: 10vh;
  text-align: center;
}

.pesquisa{
  background-image: linear-gradient( rgb(240, 240, 238),rgb(240, 240, 238));
  height: 8vh;

}

/* Fim das classes de estilização do cabeçalho */

/* Classes de estilização do rodapé do site */

.rodape{
  background-color: #99ff978f;
  border-top-style: solid;
  border-top-width: thin;
}
.container-rodape{
  text-align: -webkit-center;
}

.tabela-rodape{
  height: 5vh;
}
.celula-rodape{
  padding-bottom: 15px;
}

/* Fim das classes de estilização do rodapé */

/* Classes de estilização do corpo do site */
.corpo{
  background-image: linear-gradient( rgb(240, 240, 238),rgb(240, 240, 238), #99ff978f);
  height: 75vh;
  
}
/* Fim das classes de estilização do corpo */